if SHIELD_DUX34

config ZMK_KEYBOARD_NAME
    default "dux34"

# 当启用自定义 LED widget 时，自动启用依赖项
if DUX34_LED_WIDGET

config ZMK_BATTERY_REPORTING
    default y

config ZMK_LOW_PRIORITY_WORK_QUEUE
    default y

config LED_STRIP
    default y

config SPI
    default y

endif # DUX34_LED_WIDGET

endif # SHIELD_DUX34
